<div *ngIf="(items && items.length)">
  <mat-table #table [dataSource]="items" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total_price.amount | currency:element.total_price.currency}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['name','quantity','total']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name','quantity','total'];"></mat-row>
  </mat-table>
</div>
<p *ngIf="!(items && items.length)">Your basket is empty!</p>
